# See http://www.pighixxx.com/test/portfolio-items/icestick/

set_io clk 21

# === LEDs ===
#       0
# CHIP 341 PMOD
#       2
set_io LED[0] 99
set_io LED[1] 98
set_io LED[2] 97
set_io LED[3] 96
set_io LED[4] 95
